<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <%- include("partials/nav.ejs") %>

        <h1>Hello</h1>

        <form action="/booksByTitle">
            Book By Title:
            <input type="text" id="booksByTitle" name="title" placeholder="Search">
            <button>Search</button>
        </form>
        <br>
        <h1>Trending Books:</h1>
        
      
        <div id="container">
            
            <% for(let i = 0; i < bookDetails.length; i++) { %>
                <div id="innerContainer">
                <img src="<%= bookDetails[i].image %>" alt="Book Cover" width="200" height="300">   
                <p id="titleOfBook"><%= bookDetails[i].title %></p>
                <p id="author"> By -<%= bookDetails[i].author %> </p>

                </div>
           <% } %>
        </div>

</body>

</html>